
.t1{
			color: #fff; font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase;
		}
		.t2{
			color: #000; font-family: 'Open Sans Condensed', sans-serif; font-size: 44px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase;
		}
		#book{
			width:1000px;
			height: 600px;

		}
		#book .turn-page{
			background-color:white;
		}
		#book .cover{
			background-color: #E62E00;
}
		.page {
			background-color: #F8ECC2;

		}
